<div class="pagina">
    <div>
        <img [src]="infoPagina?.imagem" alt="Imagem pagina">
        
        <div class="dados-pagina">

        </div>
    </div>
    <h1>Página - {{infoPagina?.tituloRota}}</h1>
    <div class="conteudo">
        <div class="textos">
            <h2>Texto</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mi eros, pharetra at nulla vel, pharetra
                vestibulum lacus. Nullam posuere ultrices sagittis. Suspendisse lacinia urna in ligula fermentum eleifend.
                Aliquam ut pretium tellus. Nam lectus nisl, vulputate tincidunt nisl eu, vestibulum imperdiet ante. Proin
                sit amet arcu libero. Nullam eu pulvinar turpis. Morbi sed quam ut purus finibus porta. Sed posuere nisi
                eget justo placerat tincidunt. Mauris elementum luctus ligula a pretium. Cras tincidunt magna elit, dapibus
                elementum nibh lobortis et. Integer tortor massa, posuere id mattis ac, congue ut massa. Cras efficitur sit
                amet ligula eu pulvinar. Aliquam posuere dolor lectus, luctus faucibus lacus ultrices vel. Pellentesque in
                consequat nisl, eu faucibus eros. Curabitur consectetur erat nec est bibendum, quis rhoncus lorem aliquet.
            </p>
            <p>
                Integer accumsan risus velit, vitae porttitor velit consequat vitae. Donec ut nibh congue, tempor leo sed,
                sagittis metus. Praesent felis orci, lobortis id rutrum eu, suscipit in justo. Etiam luctus hendrerit
                dictum. Praesent nec est sit amet nibh ornare rutrum sed quis magna. Nullam malesuada nunc quis mollis
                viverra. Integer dolor magna, blandit a lectus quis, lobortis posuere nibh. In hac habitasse platea
                dictumst. Sed tincidunt tellus non fringilla blandit. Cras vel tellus sed ex efficitur imperdiet. Duis sit
                amet efficitur sem. Maecenas dignissim quam sed eros commodo suscipit. Nam auctor risus lorem, vel eleifend
                elit convallis sed. Cras nec efficitur odio, non vulputate tellus.
            </p>
            <p>
                Praesent vitae sem sed lectus faucibus porta rutrum vitae nisl. Donec leo lacus, tincidunt sed vestibulum
                ac, aliquet eget arcu. Nullam eu purus quam. Sed laoreet, quam in vulputate hendrerit, orci magna
                ullamcorper erat, nec iaculis diam ante eu lorem. Integer ut porta tellus. Integer et libero orci. Praesent
                sollicitudin ex sed nunc sagittis sodales. Nulla sit amet imperdiet quam. Quisque malesuada odio sapien, non
                cursus nibh sagittis ac. Aenean pulvinar risus at iaculis aliquam. Cras tincidunt hendrerit felis, at
                sodales ante vulputate sit amet. Duis volutpat sem id vulputate dapibus. Aenean ut volutpat mauris. Vivamus
                non massa nunc. Vestibulum nibh metus, rhoncus sed bibendum a, maximus ac magna. Morbi sollicitudin nisl
                elit, et rhoncus lectus dapibus a.
            </p>
        </div>
        <div class="botoes">
            <h2>Ações</h2>
            <div>
                <button><h3>Ação 1</h3></button>
                <button><h3>Ação 2</h3></button>
                <button><h3>Ação 3</h3></button>
                <button><h3>Ação 4</h3></button>
            </div>
        </div>
    </div>
</div>